{% extends "base.html" %} {% load thumbnail%} {%block title%} Django_template
{%endblock %} {%block body %}

<div class="row text-white">
  {% for post in posts %}
  <div class="col-sm-6 col-md-3">
    <div
      class="card p-1 my-4"
      style="border: 1px solid pink; border-radius: 30px"
    >
      {% thumbnail post.image "200x200" crop="center" as im %}

      <img
        src="{{ im.url }}"
        style="border-radius: 30px"
        class="card-img-top"
        alt="..."
      />

      {% endthumbnail %}
      <div class="card-body text-info">
        <h5 class="card-title">@{{post}}</h5>
        {{post.text}}
        <p class="card-text"></p>
        <a href="{% url 'feed:detail' post.id %}" class="btn btn-primary"
          >View Full Image</a
        >
      </div>
    </div>
  </div>
  {% empty %}
  <div class="col-sm-6 offset-3 text-center py-5 my-5">
    <h3 class="text-info fw-bolder" style="font-size: 50px">Welcome!</h3>
    <p>Add your first post</p>
    <a href="{% url 'feed:post' %}" class="btn btn-lg btn-danger text-white"
      >Upload Post</a
    >
  </div>
  {% endfor %}
</div>
{% endblock %}
